<h1>Event binding : mouse and touch</h1>

<button class="btn btn-succes" (click)="btnClick()">I am a button</button>

<div>
  <input type="text" #blur (blur)="blurText(blur.value)">
  {{valueBlur}}

  <input type="text" #focus (focus)="focusText(focus.value)">
  {{valueFocus}}
</div>

<div #divSetup (mousedown)="mouseClick(divSetup)" (mouseup)="mouseRelease(divSetup)" >
  <button class="btn btn-primary" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" >I am a mouse-over button with behavior</button>
</div>

<hr>
<h1>Better event binding: keyboard</h1>

<input type="text" placeholder="Type een stadsnaam" #txtStadsnaam (keyup.enter)="keyUpEnter(txtStadsnaam.value)">

<h2>{{txtStadsnaam.value}}</h2>
<hr>
<h1>Add student to the list</h1>
<ul>
  <li *ngFor="let student of studenten">{{student.id}} - {{student.name}}</li>
</ul>

<input type="text" #newName >
<button (click)="addStudent(newName.value)" (click)="newName.value=' ' ">Add</button>     <!--2e click event maakt het veld leeg-->
<hr>